In [ ]:
#Do specific sub-types of data-related jobs have higher or lower salaries than others?
    # Which companies have the highest salaries for those sub-types? &
    # Changes with location of the job? 
    # Will the answer change if I take standard of living into account?

In [2]:
#imports 
import pandas as pd
import matplotlib.pyplot as plt
plt.figure(dpi=1200)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
#import the dataset with pandas
dataFrame = pd.read_excel('./salary/salary_data_states.xlsx')

In [14]:
#Did not drop columns, should I have dropped them or is it okay that I kept them? 
#When looking at data subgroups do we only care about data analysts or all jobs that deal with data inclusding software engineer?
#im analyzing software engineer, business analyst, data analyst 

dataFrame['PAID_WAGE_PER_YEAR'] = dataFrame['PAID_WAGE_PER_YEAR'].fillna(0)
dataJobs = dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "software engineer") | (dataFrame["JOB_TITLE_SUBGROUP"] == "business analyst") | (dataFrame["JOB_TITLE_SUBGROUP"] == "data analyst")]
dataJobs

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,JOB_TITLE,WORK_CITY,EDUCATION_LEVEL_REQUIRED,COLLEGE_MAJOR_REQUIRED,EXPERIENCE_REQUIRED_Y_N,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",SOFTWARE ENGINEER,BLOOMINGTON,None,Nothing,n,...,"Software Developers, Applications",Illinois,IL,Unknown,y,H-1B,0.00,62171.00,software engineer,1
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,SENIOR SOFTWARE ENGINEER,PORTLAND,None,Nothing,n,...,"Software Developers, Systems Software",Oregon,OR,Unknown,y,E-3 Australian,0.00,170000.00,software engineer,5
5,I-200-14092-483272,denied,4/2/2014,4/9/2014,CAPGEMINI U.S. LLC,ORACLE SCM ANALYST/BUSINESS ANALYST,SOUTH SAN FRANCISCO,None,Nothing,n,...,Computer Systems Analysts,California,CA,Unknown,y,H-1B,0.00,114421.00,business analyst,6
6,I-200-13084-487292,denied,3/25/2013,3/28/2013,"PURE STORAGE, INC.",SENIOR SOFTWARE ENGINEER,MOUNTAIN VIEW,None,Nothing,n,...,"Software Developers, Applications",California,CA,Unknown,y,H-1B,0.00,145000.00,software engineer,7
7,I-200-13126-805026,denied,5/6/2013,5/8/2013,"POLMAK, INC.",SOFTWARE ENGINEER,RIDGEFIELD PARK,None,Nothing,n,...,"Software Developers, Applications",New Jersey,NJ,Unknown,y,H-1B,0.00,104458.00,software engineer,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167015,I-200-14071-160257,certified,3/12/2014,3/18/2014,L&T TECHNOLOGY SERVICES LIMITED,SOFTWARE ENGINEER & TESTER,PLANTATION,None,Nothing,n,...,"Computer Occupations, All Other",Florida,FL,Unknown,y,H-1B,19677.00,49800.00,software engineer,167099
167052,I-200-12299-110555,certified,10/25/2012,10/31/2012,BC TRADING WORLDWIDE INC.,BUSINESS ANALYST,DORAL,None,Nothing,n,...,Management Analysts,Florida,FL,Unknown,n,H-1B,19177.60,36004.80,business analyst,167136
167053,I-200-13030-926271,certified,1/30/2013,2/5/2013,BC TRADING WORLDWIDE INC.,BUSINESS ANALYST,DORAL,None,Nothing,n,...,Management Analysts,Florida,FL,Unknown,n,H-1B,19177.60,36004.80,business analyst,167137
167115,I-200-14209-436478,certified,7/31/2014,8/6/2014,MISTERART COM LP,DATA ANALYST,HOUSTON,None,Nothing,n,...,Survey Researchers,Texas,TX,Unknown,y,H-1B,18658.00,38000.00,data analyst,167199
167233,I-203-13177-004887,denied,7/9/2013,7/11/2013,"VUBIQUITY INTERNATIONAL HOLDINGS, INC.",ENTERPRISE BUSINESS ANALYST,BURBANK,None,Nothing,n,...,"Media and Communication Workers, All Other",California,CA,Unknown,y,E-3 Australian,16640.00,56638.40,business analyst,167317

In [16]:
dataJobs.groupby("JOB_TITLE_SUBGROUP")["PAID_WAGE_PER_YEAR"].mean()
#data shows that software engineers make the most on average, business analysts rank in second place, with data analysis making the least of the three.

JOB_TITLE_SUBGROUP
business analyst    71300.08
data analyst        70030.08
software engineer   92505.30
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [60]:
# highest salary paid by company 
print("Software Engineer")
print(dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "software engineer")].groupby("EMPLOYER_NAME")["PAID_WAGE_PER_YEAR"].max().sort_values(ascending=False))

print("\nBusiness Analyst")
print(dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "business analyst")].groupby("EMPLOYER_NAME")["PAID_WAGE_PER_YEAR"].max().sort_values(ascending=False))

print("\nData Analyst")
print(dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "data analyst")].groupby("EMPLOYER_NAME")["PAID_WAGE_PER_YEAR"].max().sort_values(ascending=False))

Software Engineer
EMPLOYER_NAME
KPI PARTNERS, INC.                   1400000.00
ABACUS TECHNICAL SERVICES, LLC       1224800.60
INSIDE, INC.                         1222788.00
ROVI CORPORATION                     1176000.00
GOOGLE INC.                          1139001.00
                                        ...
IQ DESIGNS, INC.                       37211.20
FLEXISPHERE, LLC                       36379.00
UNIVERSITY OF TEXAS - PAN AMERICAN     36048.00
ARTESIA SOFT LLC                       34736.00
HARBRICK LLC                           30492.80
Name: PAID_WAGE_PER_YEAR, Length: 12706, dtype: float64

Business Analyst
EMPLOYER_NAME
THE UNIVERSITY OF TEXAS SYSTEM ADMINISTRATION   1250784.00
OFFICEMAX INCORPORATED                          1103711.73
CONSULTADD INC                                   960000.00
OASYS TECHNOLOGIES INC.                          750000.00
SLK AMERICA INC                                  699771.00
                                                   ...
LTA INTERNATIONAL GLOBAL SERVICES LLC             31000.00
SENECA MEDICAL, INC.                              30000.00
LAXAMENTUM BUSINESS CONCEPTS, INC.                28683.00
ACCESS ONE ATM, INC.                              20800.00
APLARS, LLC                                       20000.00
Name: PAID_WAGE_PER_YEAR, Length: 6201, dtype: float64

Data Analyst
EMPLOYER_NAME
INTUIT                                      746323.00
NETFLIX, INC.                               220000.00
KNOWLEDGENT GROUP INC.                      185000.00
AMICUS SYSTEMS INC                          166400.00
AVISO, INC.                                 165000.00
                                               ...
LANNER ELECTRONICS USA, INC.                 33321.60
THE SAMUEL ROBERTS NOBLE FOUNDATION, INC.    32656.00
AMARA HOME CARE SERVICES INC                 31533.00
MASON TILLMAN ASSOCIATES, LTD.               31449.60
UTAH STATE UNIVERSITY                        29411.20
Name: PAID_WAGE_PER_YEAR, Length: 1615, dtype: float64

In [62]:
#how salary is affected by state 
#yes data subgroup is salary is affected by work state and location
print("Software Engineer")
print(dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "software engineer")].groupby("WORK_STATE")["PAID_WAGE_PER_YEAR"].mean().sort_values(ascending=False))

print("\nBusiness Analyst")
print(dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "business analyst")].groupby("WORK_STATE")["PAID_WAGE_PER_YEAR"].mean().sort_values(ascending=False))

print("\nData Analyst")
print(dataFrame[(dataFrame["JOB_TITLE_SUBGROUP"] == "data analyst")].groupby("WORK_STATE")["PAID_WAGE_PER_YEAR"].mean().sort_values(ascending=False))

Software Engineer
WORK_STATE
California             108558.51
Washington             107164.34
Virgin Islands          99788.00
New York                99155.75
Massachusetts           91577.26
Guam                    90000.00
Maryland                85686.51
Vermont                 84820.98
Oregon                  84552.35
District of Columbia    84495.15
Alabama                 83930.77
Virginia                83578.30
Utah                    83384.48
Nevada                  82763.45
Louisiana               82669.50
Hawaii                  82251.37
New Jersey              82079.69
Pennsylvania            81719.58
Colorado                80946.20
Minnesota               80244.14
New Hampshire           79892.39
Connecticut             79839.80
Delaware                79664.10
North Carolina          78574.45
Illinois                78393.21
Texas                   77547.56
Rhode Island            77525.69
Nebraska                76081.90
Arizona                 76000.46
Georgia                 74983.58
North Dakota            74855.67
Mississippi             74831.05
Wisconsin               74446.50
Tennessee               74190.10
New Mexico              73485.77
Missouri                72894.68
South Carolina          72612.03
Florida                 72596.45
Iowa                    72588.40
Ohio                    72499.70
Michigan                72416.36
Idaho                   72176.96
Kansas                  72009.33
Maine                   71699.14
South Dakota            71521.43
Alaska                  71515.13
Kentucky                70818.12
West Virginia           69934.94
Arkansas                69599.17
Indiana                 69242.39
Montana                 67992.79
Oklahoma                63853.68
Palau                   60000.00
Wyoming                 56068.33
Puerto Rico             53370.07
Name: PAID_WAGE_PER_YEAR, dtype: float64

Business Analyst
WORK_STATE
Washington             78091.73
New York               77573.84
Wyoming                76880.00
California             76568.12
Puerto Rico            74512.50
Maryland               73837.30
New Mexico             73511.07
Minnesota              73373.49
Connecticut            73022.91
Oregon                 72388.99
District of Columbia   72367.19
Ohio                   72356.74
Massachusetts          72143.31
Montana                71871.33
Rhode Island           70648.50
Illinois               70503.75
North Carolina         70278.64
Colorado               70245.48
New Jersey             70171.43
Texas                  70112.08
New Hampshire          70009.57
Arizona                69833.88
Vermont                69822.86
Kansas                 69647.02
Oklahoma               69473.15
Virginia               68550.38
Michigan               68547.33
Pennsylvania           68516.31
Missouri               68494.97
Wisconsin              67750.37
Tennessee              67352.53
Idaho                  67315.21
Maine                  66984.31
Louisiana              66923.52
Kentucky               66552.49
Georgia                66061.39
Iowa                   65702.68
Delaware               65538.83
Utah                   64700.95
Indiana                64676.10
Alaska                 64563.02
South Carolina         64231.98
Nebraska               63555.28
Nevada                 63463.53
Florida                63062.26
Arkansas               58604.47
Alabama                57515.32
Hawaii                 57241.09
North Dakota           56435.00
Mississippi            55833.52
West Virginia          55524.60
South Dakota           54094.88
Guam                   40674.30
Name: PAID_WAGE_PER_YEAR, dtype: float64

Data Analyst
WORK_STATE
Connecticut            80988.75
California             80470.05
Delaware               78561.14
New Hampshire          75943.25
Maine                  72595.25
New York               71449.00
Washington             71226.38
Nevada                 70768.33
Georgia                70508.29
Arizona                70150.24
District of Columbia   70023.18
Ohio                   70019.10
South Dakota           70000.00
Alabama                69803.33
New Jersey             69558.40
Massachusetts          69495.30
Michigan               69471.25
Minnesota              68986.70
North Carolina         68956.09
Maryland               68941.48
Kentucky               68533.33
Virginia               68222.28
New Mexico             66979.47
Wisconsin              66416.39
Rhode Island           66293.21
Kansas                 66005.33
Texas                  65065.33
Oregon                 64641.68
Illinois               64368.84
Indiana                64118.77
Hawaii                 63737.57
Pennsylvania           63177.68
Mississippi            63100.00
Colorado               62969.13
Tennessee              62247.00
Iowa                   62246.05
Missouri               61771.43
Florida                61632.05
South Carolina         61402.00
Arkansas               60360.01
Louisiana              59692.31
Oklahoma               55498.40
Nebraska               52010.07
Utah                   50401.03
Idaho                  48699.75
North Dakota           47714.67
Puerto Rico            45000.00
Vermont                42000.00
Name: PAID_WAGE_PER_YEAR, dtype: float64