In [38]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
plt.figure(dpi=1200)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [39]:
#import the dataset with pandas
dataFrame = pd.read_excel('./salary/salary_data_states.xlsx')

In [40]:
# reduce variables to only those needed for analyzing
salary = dataFrame.drop(columns=['CASE_NUMBER', 'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_DATE', 'EMPLOYER_NAME', 'WORK_CITY', 'EDUCATION_LEVEL_REQUIRED', 'COLLEGE_MAJOR_REQUIRED', 'EXPERIENCE_REQUIRED_Y_N', 'EXPERIENCE_REQUIRED_NUM_MONTHS', 'COUNTRY_OF_CITIZENSHIP', 'PREVAILING_WAGE_SOC_CODE', 'PREVAILING_WAGE_SOC_TITLE', 'WORK_STATE_ABBREVIATION', 'WORK_POSTAL_CODE', 'FULL_TIME_POSITION_Y_N', 'PREVAILING_WAGE_PER_YEAR', 'order'])

In [41]:
#clean the dataset, remove null
salary['JOB_TITLE_SUBGROUP'] = salary['JOB_TITLE_SUBGROUP'].fillna("Nothing")

In [42]:
salary.JOB_TITLE_SUBGROUP.unique()

array(['software engineer', 'assistant professor', 'teacher',
       'business analyst', 'management consultant', 'data analyst',
       'attorney', 'data scientist'], dtype=object)

In [49]:
# Compare H1-B1 vs Greencard salaries for each JOB_TITLE_SUBGROUP
# Group by JOB_TITLE_SUBGROUP and get column data for PAID_WAGE_PER_YEAR
#   seperated by VISA_CLASS

salary.groupby(['JOB_TITLE_SUBGROUP', 'VISA_CLASS'])['PAID_WAGE_PER_YEAR'].mean()

JOB_TITLE_SUBGROUP     VISA_CLASS
assistant professor    E-3 Australian     90666.94
                       H-1B               94921.47
                       H-1B1 Chile        59000.00
                       H-1B1 Singapore    67851.00
                       greencard          94554.93
attorney               E-3 Australian    215847.98
                       H-1B              141605.86
                       H-1B1 Chile       160000.00
                       H-1B1 Singapore   161166.67
                       greencard         134532.58
business analyst       E-3 Australian     85418.91
                       H-1B               70575.64
                       H-1B1 Chile        77976.50
                       H-1B1 Singapore    76663.79
                       greencard          91398.67
data analyst           E-3 Australian     85171.32
                       H-1B               69249.05
                       H-1B1 Singapore    76351.09
                       greencard          90197.10
data scientist         E-3 Australian    116022.13
                       H-1B              107538.85
                       H-1B1 Chile        90000.00
                       H-1B1 Singapore   150000.24
                       greencard         116507.76
management consultant  E-3 Australian    134796.24
                       H-1B              107910.91
                       H-1B1 Chile        91979.68
                       H-1B1 Singapore    84445.00
                       greencard         100351.81
software engineer      E-3 Australian    112843.67
                       H-1B               91271.97
                       H-1B1 Chile       106814.96
                       H-1B1 Singapore   100942.41
                       greencard         104445.18
teacher                E-3 Australian     52886.68
                       H-1B               45978.79
                       H-1B1 Chile        34718.40
                       H-1B1 Singapore    44334.26
                       greencard          46481.62
Name: PAID_WAGE_PER_YEAR, dtype: float64